* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.income-container {
  display: grid;
  /* grid-template-columns: 0.3fr 1fr; */
  height: 100vh;
}
.income-content {
  background-color: rgb(240, 240, 240);
  display: block;
  text-align: center;
  padding-top: 20vh;
  height: 100vh;
}
.income-content input {
  padding: 10px;
  margin: 15px;
  box-shadow: 5px 5px 5px #918f8f;
  height: 40px;
  width: 400px;
  border: 1px solid #d9d9d9;
  outline: none;
}
.income-content input:hover {
  box-shadow: none;
}
.income-content h2 {
  color: #e0a96d;
  padding-bottom: 20px;
}
.income-content #income-btn {
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 35px;
  background-color: #e0a96d;
  font-weight: bold;
  font-size: 16px;
  width: 15%;
  box-shadow: none;
  text-align: center;
}
.income-content #income-btn:hover {
  border: 2px solid #e0a96d;
  color: #e0a96d;
  background-color: white;
  cursor: pointer;
}
.income-container .dashboard-cont .accountsection {
  background-color: #e0a96d;
  padding: 5px 20px 5px 20px;
  color: white;
  border-radius: 20px;
}
.income-container .dashboard-cont .sub-titlenav:hover .accountsection {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #e0a96d;
}
