*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.income-container{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    height: 100vh;
}
.income-content{
    background-color:rgb(240, 240, 240) ;
    display: block;
    text-align: center;
    padding-top: 37vh;
    height: 100vh;
} 
.income-content input{
    width: 400px;
    height: 40px;
    outline: none;
    margin-bottom: 30px;
}