*{
    margin: 0;
}
body{
    font-family: poppins;
}
th{
    padding-right: 60px;
    padding-left: 15px;
    padding-top:30px;

}

td{
    padding-right: 68px;
    padding-left: 40px;
    padding-top:30px; 
}
h2{
    color: rgba(224, 169, 109, 1); 
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;

}
.title{
    background-color: rgba(224, 168, 109, 0.192);
    padding-bottom: 20px;
    padding-left: 50px;
    
}
.to{
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    padding-bottom: 30px;
}
.line{
  width: 90%;
  margin-left: 50px;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.589);
  margin-bottom: 30px;
}

ul, li {
    list-style: none;
    display: flex;
    padding: 10px 190px;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    color: black;
}
ul{
    border-bottom: 1px solid black;
}
.second ul, li {
    list-style: none;
    display: flex;
    padding: 10px 100px;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    color: black;
}
.second {
    border: 1px solid black;
}
li:hover {
    background-color: rgba(128, 128, 128, 0.082);
}
.all{
    margin: 0 120px;
}

.icon{
    background-color: rgba(224, 169, 109, 1);
    width: 5%;
    height: 50px;
}
.icon i{
    padding-left: 10px;
    font-size: 30px;
    color: white;
    padding-top: 10px;
} 
.ico{
    background-color: rgba(224, 169, 109, 1);
    width: 25%;
    height: 50px;
}
.ico p{
    padding-left: 30px;
    color: white;
    padding-top: 10px;
}
.ico i{
    position: relative;
    bottom: 50%;
    left: 65%;
    font-size: 10px;
    color: white;
    padding-top: 10px;
}

.ic{
    background-color: rgba(224, 169, 109, 1);
    width: 25%;
    height: 50px;
}
.ic p{
    padding-left: 30px;
    color: white;
    padding-top: 10px;
}
.ic i{
    position: relative;
    bottom: 50%;
    left: 65%;
    font-size: 10px;
    color: white;
    padding-top: 10px;
}
.io{
    background-color: rgba(224, 169, 109, 1);
    width: 25%;
    height: 50px;
}
.io p{
    padding-left: 30px;
    color: white;
    padding-top: 10px;
}
.io i{
    position: relative;
    bottom: 50%;
    left: 80%;
    font-size: 10px;
    color: white;
    padding-top: 10px;
}

.two{
    margin-left: 300px;
    display: flex;
    gap: 5px;
}

button{
    color: white;
    border: none;
    background-color: rgba(224, 169, 109, 1);
    padding: 10px 20px;
    border-radius: 10px;
}
.one{
    padding-bottom: 30px;
}
