* {
  margin: 0;
}
.divAll {
  width: 100%;
  height: 100vh;
  font-family: poppins;
  background-color: rgb(235, 235, 235);
}
.divAll .getincomeTable {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.al h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(224, 169, 109, 1);
}
.al th {
  padding-right: 40px;
  padding-left: 15px;
  padding-top: 30px;
}
.al td {
  padding-right: 25px;
  padding-left: 35px;
  padding-top: 30px;
}
.div h2 {
  color: rgba(224, 169, 109, 1);
  padding-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}
.tile {
  background-color: rgba(224, 168, 109, 0.192);
  padding-bottom: 20px;
  padding-left: 50px;
}
.t {
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  padding-bottom: 30px;
}
.lie {
  width: 92%;
  margin-left: 50px;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.589);
  margin-bottom: 30px;
}

.oe ul,
li {
  list-style: none;
  display: flex;
  padding: 10px 190px;
  justify-content: space-between;
}
.oe a {
  text-decoration: none;
  color: black;
}
.oe ul {
  border-bottom: 1px solid black;
}
.oe li:hover {
  background-color: rgba(128, 128, 128, 0.082);
}
.second ul,
li {
  color: black;
  list-style: none;
  display: flex;
  padding: 10px 100px;
  justify-content: space-between;
  font-weight: bold;
}
.second ul li:hover {
  color: rgba(224, 169, 109, 1);
}

.second a {
  text-decoration: none;
  color: black;
}

.al {
  margin: 0 40px;
}

.iconic {
  background-color: rgba(224, 169, 109, 1);
  width: 5%;
  height: 50px;
}
.iconic i {
  padding-left: 10px;
  font-size: 30px;
  color: white;
  padding-top: 10px;
}
.conic {
  background-color: rgba(224, 169, 109, 1);
  width: 25%;
  height: 50px;
}
.conic p {
  padding-left: 30px;
  color: white;
  padding-top: 10px;
}
.conic i {
  position: relative;
  bottom: 50%;
  left: 65%;
  font-size: 10px;
  color: white;
  padding-top: 10px;
}

.onic {
  background-color: rgba(224, 169, 109, 1);
  width: 25%;
  height: 50px;
}
.onic p {
  padding-left: 30px;
  color: white;
  padding-top: 10px;
}
.onic i {
  position: relative;
  bottom: 50%;
  left: 65%;
  font-size: 10px;
  color: white;
  padding-top: 10px;
}
.nic {
  background-color: rgba(224, 169, 109, 1);
  width: 25%;
  height: 50px;
}
.nic p {
  padding-left: 30px;
  color: white;
  padding-top: 10px;
}
.nic i {
  position: relative;
  bottom: 50%;
  left: 90%;
  font-size: 10px;
  color: white;
  padding-top: 10px;
}

.twe {
  margin-left: 170px;
  display: flex;
  gap: 5px;
}

.butn button {
  color: white;
  border: none;
  background-color: rgba(224, 169, 109, 1);
  padding: 10px 20px;
  border-radius: 10px;
}
.oe {
  padding-bottom: 30px;
}
.bx i {
  color: rgba(224, 169, 109, 1);
  font-size: larger;
  position: relative;
}
.bx {
  font-size: larger;
}
.recordIncomeCont .dashboard-cont .recordSection {
  background-color: #e0a96d;
  padding: 5px 20px 5px 20px;
  color: white;
  border-radius: 20px;
}
.recordIncomeCont .dashboard-cont .sub-titlenav:hover .recordSection {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #e0a96d;
}
.divAll .second .bold {
  color: #e0a96d;
}
