*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
.head{
    width:100%;
    height:50px;
    background:#E0A96D;
}
#title{
    color:white;
    font-size:20px;
    font-family:century Gothic;
    float:left;
    align-items: center;
    margin-left: 30px;
   padding-top: 12px;
}
h3{
    float:right;
    margin-left: 30px;
   padding-top: 12px;
   color:white;
   font-family: century Gothic;
   margin-right: 10px;
}
.second{
    width:100%;
    height:600px;
    /* background:darkolivegreen; */
    display:flex;
}
.one{
    background:#E0A96D;
    width:200px;
    height: 600px;
}
.two{
    /* background:grey; */
    width:650px;
    height: 600px;
    border-right:2px solid #E0A96D;
}
.three{
    /* background:aquamarine; */
    width:650px;
    height: 600px;
}
.dash{
    width:100px;
    height:100px;
    /* background:green; */
    border:2px solid white;
    border-radius:50%;
    margin-left:35px;
    margin-top:10px;
}
.dashboard{
    width:170px;
    height:50px;
    /* background:#334A60; */
    margin-top:50px;
    border:2px solid white;
    border-radius: 20px;
    margin-left:3px;  
}
h4{
    color:white;
    font-size: 20px;
    font-family:century Gothic;
    margin-left: 30px;
    padding-top:15px;
}
.side{
    width:170px;
    height:300px;
    /* background:rgb(82, 82, 97); */
    border-radius: 20px;
    margin-left:3px; 
    margin-top:60px;
}
.side a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    font-family:century Gothic;
    font-size:20px;
    margin-left:30px;
    margin-top:30px;
}
#month{
    color:#E0A96D;
    font-family: century Gothic;
    font-size:20px;
    text-decoration:underline;
    text-decoration-color: #E0A96D;
    text-underline-offset: 5px;
    margin-right: 230px;
}
.in{
    width:400px;
    height: 150px;
    margin-left: 90px;
    margin-top:50px;
    white-space: nowrap;
}
#a{
    width: 100px;
    height:30px;
    background: #E0A96D;
    color:white;
    font-family: century Gothic;
    font-size: 18px;
    padding:5px 15px;
    border-radius: 5px;
}
#b{
    width: 130px;
    height:30px;
    background: #E0A96D;
    color:white;
    font-family: century Gothic;
    font-size: 18px;
    padding:5px 15px;  
    border-radius: 5px;
}
#c{
    width: 80px;
    height:30px;
    background: #E0A96D;
    color:white;
    font-family: century Gothic;
    font-size: 18px;
    padding:5px 15px;  
    margin-left:-200px;
    border-radius: 5px;
}
input{
    width:150px;
    height:30px;
    box-shadow: 0px 2px 2px black;
    border: none;
    margin-top: 50px;
    margin-right: 10px;
    border-radius:10px;
    font-family: century Gothic;


} 
 #date{
    margin-left: -50px;
} 
#save{
    width:130px;
    height:30px;
    background:#E0A96D;
    color:white;
    font-family:century Gothic;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 120px;
    border: none;
    border-radius: 50px; 
}
#goal{
    color:#E0A96D;
    font-family: century Gothic;
    font-size:20px;
    text-decoration:underline;
    text-decoration-color: #E0A96D;
    text-underline-offset: 5px;
    margin-right:240px;
    margin-top:30px; 
}
#item{
    margin-left: 40px;
    width: 200px;
}
#timeline{
    margin-left: 40px; 
    width: 200px;
}
#Amountrequired{
    margin-left: 40px;
    width: 200px;
}
#goalo{
    width: 150px;
    height: 30px;
    background: #E0A96D;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-family: century Gothic;
    margin-top: 20px;
    margin-left: 180px;
}
label {
    color:#E0A96D;
    font-size: 16px;
    font-family: century Gothic;
}
#d{
    margin-left: 300px;
    margin-top: -140px;
}
#initial{
    margin-right: -50px;
}
#tobe{
    color:#E0A96D;
    font-family: century Gothic;
    font-size:20px;
    text-decoration:underline;
    text-decoration-color: #E0A96D;
    text-underline-offset: 5px; 
    text-align: center;
    margin-top: 40px; 
    font-weight: lighter;
}
#comp{
    width: 250px;
    height:30px;
    margin-left: 150px;

}
.links{
    /* width:400px; */
    height:60px;
    /* background:darkgreen; */
    white-space:nowrap;
}
#a1{
    float: left;
    color:#E0A96D;
    text-decoration: none;
    text-decoration: none;
    font-family:century Gothic;
    font-size:20px;
    margin-left:20px;
}
#a2{
    float:right;
    margin-right:20px;
    color:#E0A96D;
    text-decoration: none;
    font-family:century Gothic;
    font-size:20px;
    margin-top:-40px;
}
#exp{
    color:#E0A96D;
    font-family: century Gothic;
    font-size:20px;
    text-decoration: underline;
    text-decoration-color: #E0A96D;
    text-underline-offset: 5px;
    text-align:center;
    margin-top: -60px;
}
#exp2{
    margin-left: 40px;
    width:200px;
}
#exp3{
    width:200px;
    margin-right: 30px;
}
#exp4{
    width: 220px;
    margin-left: 30px;
}
#exp5{
    width:220px;
    margin-left: 30px;
}
#exp6{
    width:220px;
    height: 30px;
    background: #E0A96D;
    color:white;
    border-radius: 20px;
    font-family: century Gothic;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 100px;
    border: 1px solid #E0A96D;
    box-shadow: none;
}
